/* main */
* {
    box-sizing: border-box;
    margin: 0;
}

/* tags */
header{
    height: 180px;
    position: fixed; /* Фиксированное позиционирование */
    left: 0; right: 0; /* Вся ширина */
    top: 0; /* Положение сверху */

}

h3 {
    font-size: 20px;
}

h5 {
    margin-top: 10px;
}

h2.heanding2 {
    text-align: center;
    font-size: 36px;
}

h3.heanding2 {
    text-align: center;
}

li {
    margin-top: 10px;
    font-size: 20px;
}

nav {
    /* background-color: #f4f5fa; */
    padding-top: 10px;
    padding-bottom: 5px;
}

section.groving, section.advantages{
    background: url(../img/main_bg.png) center center/cover no-repeat;
}

section.groving, section.advantages {

    border: 1px solid black;   
}

/* section */
.about {
    display: inline-block;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn:focus,.btn:hover {
    text-decoration: none
}

.btn.focus,.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-primary.focus,.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
}

btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5
}

.btn-light.focus,.btn-light:focus {
    box-shadow: 0 0 0 .2rem rgba(248,249,250,.5)
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    text-decoration: none;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-outline-primary.focus,.btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
    color: #007bff;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.border-1 {
    border: black solid 1px;
}

.br-5 {
    border-radius: 5%;
}

.hat {
    background-color: white;
}

.heanding2 {
    font-size: 24px; 
    margin-bottom: 10px;
}

.fs24 {
    font-size: 24px;
}

.fs20 {
    font-size: 20px;
}

.fs18 {
    font-size: 18px;
}

.groving, .advantages, .about, .progect, .text_single {
    margin: 10px;
    font-size: 20px; 
}

.main{
    margin-top: 20px;
}

.mt-50{
    margin-top: 50px;
}

.mt-10{
    margin-top: 10px;
}

.ml-5{
    margin-left: 5px;
}

.mr-5 {

    margin-left: 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu .menu_link {
    font-size: 15px;
}

.offer{
    margin-top: 200px;
}

.pattern-white {
    border-radius: 24px;   
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
    background-color: #fff; 
}

.pattern-gray {
    border-radius: 24px;   
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
    background-color: #e3e6ed;
}

.pl-5 {
    padding-left: 5px;
}

.pr-5{
    padding-right: 5px;
}

 .progect {
    text-align: center;
}

.progect_item {
    width: 400px;
}

.progect_wraper,  .wraper_rental {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
}

.progect .container {
     background: url(../img/main_bg.png) center center/cover no-repeat;
}

.tg, .wt {
    display: flex;
    justify-content: center;
}

.text_allot {
   font-size: 20px; 
   font-weight: 700;
}
.text_uppercase {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
}

.wraper_economic_value {
    position: relative;
    /* height: 750px; */
  
}

.wraper_economic_value img{
    position: absolute;
    top: 100px;
    left: 500px;
    height: 100%;
    width: auto;
    z-index: -1;
}

.wraper_up {
    margin-top: 20px;
    /* background-color: #f4f5fa; */
    text-align: center;
}

.wt img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.wt_item {
    margin: auto 0;
    padding: 5px;
    font-size: 28px;
}